/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    transition: background-color 0.3s; /* Add a smooth background color transition */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s; /* Add a smooth color transition on hover */
}

nav a:hover {
    color: #ff9900;
}

.section {
    padding: 40px;
    text-align: center;
    transition: background-color 0.3s; /* Add a smooth background color transition */
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    transition: transform 0.3s; /* Add a transform transition on hover */
}

.profile img:hover {
    transform: scale(1.1); /* Enlarge the profile picture on hover */
}

.project {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s; /* Add a transform transition on hover */
}

.project:hover {
    transform: translateY(-5px); /* Lift the project card slightly on hover */
}
